title: "R Notebook"
output: html_notebook
---

This is an [R Markdown](http://rmarkdown.rstudio.com) Notebook. When you execute code within the notebook, the results appear beneath the code. 

Try executing this chunk by clicking the *Run* button within the chunk or by placing your cursor inside it and pressing *Ctrl+Shift+Enter*. 

```{r}
# random forest 

#instalamos librerias

library("randomForest")
library(caret)

#cargamos data set

banknote <- read.csv("../Desktop/sebastian/r studio/cheat sheet/banknote-authentication.csv.txt")

#comvertimos variable a factor

banknote$class <- factor(banknote$class)

#creamos un subconjunto de datos

set.seed(2018)
training.ids <- createDataPartition(banknote$class, p = 0.7, list = FALSE)

#creamos el modelo

mod <-  randomForest(x= banknote[training.ids ,1:4],
                     y= banknote[training.ids ,5],
                     ntree = 500,
                     keep.forest = TRUE)


pred <- predict(mod,banknote[-training.ids,] )

#creamos matriz confusion

table(banknote[-training.ids,"class"], pred, dnn= c("actual","predicho"))
